.AdskActionRemindersHeading {
    font-weight: bold;
    font-size: 20px;
}

.AdskActionRemindersAddButton {
    background-image: url('images/file_add.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_question {
    background-image: url('images/question.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_info {
    background-image: url('images/info.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_config {
    background-image: url('images/settings.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_schedule {
    background-image: url('images/calendar.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_edit {
    background-image: url('images/settings.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adsk_actionreminders_delete {
    background-image: url('images/remove.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25px;
    width: 25px;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_view {
    background-image: url('images/view.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

.adsk_actionreminders_run {
    background-image: url('images/run.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionreminders_help {
    background-image: url('images/help.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background-position: 50% 50%;
}

.adsk_actionremindersconfig_count_span {
    float: right;
    border-radius: 3px;
    background-color: green;
    padding: 2px;
    color: #fff;
}

.adsk_actionremindersconfig_search_div {
    border-radius: 2px;
    display: inline;
}

.adsk_actionremindersconfig_search_div input {    
    height: 16px;
    padding: 2px;
    width: 250px;
}