#ActionRemindersAddButton {
    background-image: url('images/add.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
}

#ActionRemindersRefreshButton {
    background-image: url('images/re.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    display: inline;
    vertical-align: middle;
    background-position: 50% 50%;
    float: right;
    margin-right: 10px;
}