#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira-action-reminders.option.label")</title>
    $webResourceManager.requireResource("com.adsk.jira.actionreminders.plugin.jira-action-reminders-plugin:jira-action-reminders-plugin-resources")
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()" />
    <script>
        var shows = true;
        function prepareConfigure() {
            if ( shows == true) {
                AJS.$("#AdskActionRemindersConfigureForm").trigger("reset");
                AJS.$("#AdskActionRemindersConfigure").stop().slideDown();
                AJS.$("#AdskActionRemindersProjectSchedule").stop().slideUp();
                shows = false;
            }else{
                AJS.$("#AdskActionRemindersConfigure").stop().slideUp();
                shows = true;
            }
        }
        function prepareSchedule() {
            AJS.$("#AdskActionRemindersProjectSchedule").stop().slideDown();
            AJS.$("#AdskActionRemindersConfigure").stop().slideUp();
        }
    </script>
</head>
<body>

<p>
<span class="AdskActionRemindersHeading">$i18n.getText("jira-action-reminders.option.label") Plugin Configure</span>
<a href="https://git.autodesk.com/EngOps/jira-action-reminders-plugin/wiki" target="_blank" 
    class="adsk_actionreminders_question" title="Action Reminders Plugin Documentation"></a>
<a href="#" class="adsk_actionreminders_config" onClick="prepareConfigure()" title="Prepare Action Reminder Configure"></a>
<a href="#" class="adsk_actionreminders_schedule" onClick="prepareSchedule()" title="Prepare Action Reminder Schedule"></a>
</p>

<!-- enable actions and reminders -->
<div id="AdskActionRemindersConfigure">
<form id="AdskActionRemindersConfigureForm" class="aui" method="post" action="ActionRemindersAdminAction.jspa">
<div class="field-group">
    <label for="enableReminders">
        $i18n.getText("jira-action-reminders.option.enableReminders.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="enableReminders" name="enableReminders" class="text">   
        #foreach ($option in ["TRUE", "FALSE"])
            <option value="$option.toLowerCase()"
            #if ($option.toLowerCase() == "$!enableReminders")selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("jira-action-reminders.option.enableReminders.description")</div>
</div>
<div class="field-group">
    <label for="enableActions">
        $i18n.getText("jira-action-reminders.option.enableActions.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="enableActions" name="enableActions" class="text">   
        #foreach ($option in ["TRUE", "FALSE"])
            <option value="$option.toLowerCase()"
            #if ($option.toLowerCase() == "$!enableActions")selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("jira-action-reminders.option.enableActions.description")</div>
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="SAVE" />
</div>
</form>


<!-- Configure Schedule -->
<div id="AdskActionRemindersProjectSchedule" style="display: none">
<form id="AdskActionRemindersProjectScheduleForm" class="aui" method="post" action="ActionRemindersAdminAction.jspa" >
<div class="field-group">
    <label for="interval">
        $i18n.getText("jira-action-reminders.option.interval.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="number" id="interval" name="interval" class="text" min="1" value="$!interval" />
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="Schedule" />
</div>
</form>
</div>

<!-- config status -->
#if( $!status )
    <p class="aui-message">$!status</p>
#end

</body>
</html>
