#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira-action-reminders.option.label")</title>
    $webResourceManager.requireResource("com.adsk.jira.actionreminders.plugin.jira-action-reminders-plugin:jira-action-reminders-plugin-resources")
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()" />    
    <script>        
        function prepareDelete(mapId) {
            AJS.$("#ActionRemindersDel").stop().slideDown();
            AJS.$("#ActionRemindersRun").stop().slideUp();            
            
            AJS.$("#ActionRemindersDelForm input[name='mapId']").val(mapId);
            AJS.$("#ActionRemindersTitle").text(" | Deleting Mapping ID #"+mapId);
            location.hash = "#ActionRemindersDel";
        }

        function prepareRun(mapId) {
            AJS.$("#ActionRemindersRun").stop().slideDown();
            AJS.$("#ActionRemindersDel").stop().slideUp();            
            
            AJS.$("#ActionRemindersRunForm input[name='mapId']").val(mapId);
            AJS.$("#ActionRemindersTitle").text(" | Running Mapping ID #"+mapId);
            location.hash = "#ActionRemindersRun";
        }
    </script>
</head>
<body>

<h2>$i18n.getText("jira-action-reminders.option.label")<span id="ActionRemindersTitle"></span></h2>


<!-- Delete form with Mapping ID -->
<div id="ActionRemindersDel" style="display: none">
<form id="ActionRemindersDelForm" class="aui" method="post" action="ActionRemindersConfig.jspa" >
<div class="field-group">
    <label for="mapId">
        $i18n.getText("jira-action-reminders.option.map_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="mapId" name="mapId" class="text" />
</div>
<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="DELETE" />
</div>
</form>
</div>

<!-- Run form with Mapping ID -->
<div id="ActionRemindersRun" style="display: none">
<form id="ActionRemindersRunForm" class="aui" method="post" action="ActionRemindersProjectConfig.jspa?projectKey=$projectKey" >
<div class="field-group">
    <label for="mapId">
        $i18n.getText("jira-action-reminders.option.map_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="mapId" name="mapId" class="text" />
</div>
<fieldset class="group">
    <legend><span>Options:</span></legend>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="reminders" id="reminders" value="true" checked/>
        <label for="emailReminder">Reminders</label>
    </div>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="actions" id="actions" value="true" />
        <label for="issueActions">Actions</label>
    </div>    
</fieldset>
<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="RUN" />
</div>
</form>
</div>


<!-- config status -->
<p id="ActionRemindersStatus" style="background-color:#E0FFFF;">$!status</p>


<br/>

<!-- config display -->

<div id="ActionRemindersDisplay">
<table class="aui">
    <tr><th>Map ID</th><th>Project</th><th>JQL Query</th><th>Action</th><th>Author</th><th>Last Run</th><th>Exec</th><th>Active?</th><th></th></tr>
    #foreach ($entry in $mapsList)
        <tr><td>$entry.mapId</td><td>$entry.projectKey</td><td>$entry.query</td><td>$entry.issueAction</td>
            <td>$entry.runAuthor</td><td>$entry.lastRun</td><td>$entry.execCount</td><td>$entry.active</td>
            <td>            
                <button class="aui-button" onClick="prepareDelete('$entry.mapId')">Del</button>
                <button class="aui-button" onClick="prepareRun('$entry.mapId')">Run</button>
            </td>
        </tr>
    #end
</table>
</div>

</body>
</html>
