#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira-action-reminders.option.label")</title>
    $webResourceManager.requireResource("com.adsk.jira.actionreminders.plugin.jira-action-reminders-plugin:jira-action-reminders-plugin-resources")
    <meta name="decorator" content="atl.admin" />
    <meta name="configId" content="$textutils.htmlEncode($action.configId)"/>
    <script>        
        function prepareEdit() {
            AJS.$("#ActionRemindersAddEdit").stop().slideDown();
            AJS.$("#ActionRemindersRun").stop().slideUp();
        }
        function prepareRun(configId) {
            AJS.$("#ActionRemindersRun").stop().slideDown();
            AJS.$("#ActionRemindersAddEdit").stop().slideUp();         
            AJS.$("#ActionRemindersRunForm input[name='configId']").val(configId);
            AJS.$("#ActionRemindersRunForm input[name='configIds']").val(configId);
            location.hash = "#ActionRemindersRun";
        }

        function openUserPickerWindow(element){
            var vWinUsers = window.open('$!requestContext.canonicalBaseUrl/secure/popups/UserPickerBrowser.jspa?formName=jiraform&multiSelect=false&element=' + element, 'UserPicker', 'status=yes,resizable=yes,top=100,left=200,width=580,height=750,scrollbars=yes');
            vWinUsers.opener = self;
            vWinUsers.focus();    
         }
    </script>  
</head>
<body>


<p>
    <a class="aui-button" href="ActionRemindersProjectAction.jspa?projectKey=$projectKey">Back to Action Reminders</a>
<p>

<p>
<span class="AdskActionRemindersHeading">
    $i18n.getText("jira-action-reminders.option.label") #$configId  #if($projectName) | $projectName#end</span>
<a href="https://git.autodesk.com/EngOps/adsk-action-reminders-plugin/wiki/Home" target="_blank"
    class="adsk_actionreminders_question" title="Action Reminders Plugin Documentation"></a>
<a href="#" class="adsk_actionreminders_edit" onClick="prepareEdit()"></a>
<a href="#" class="adsk_actionreminders_run" onClick="prepareRun('$configId')"></a>
</p>

<!-- Add or Edit Form -->

<div id="ActionRemindersAddEdit">
<form id="ActionRemindersAddEditForm" class="aui" method="post" action="AdskActionRemindersConfigure.jspa?configId=$configId" >
<input type="hidden" id="configId" name="configId" class="text" value="0" />
<input type="hidden" id="projectKey" name="projectKey" class="text" value="$!projectKey" />
<div class="field-group">
    <label for="configIds">
        $i18n.getText("jira-action-reminders.option.config_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="configIds" name="configIds" class="text" value="$!configId" disabled=""/>
</div>
<div class="field-group">
    <label for="query">
        $i18n.getText("jira-action-reminders.option.query.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <textarea id="query" name="query" class="textfield" rows="2" cols="60" 
        placeholder="Your JQL Query here $i18n.getText('jira-action-reminders.option.query.description')">$!query</textarea>
    <div class="description">$i18n.getText("jira-action-reminders.option.query.description")</div>
</div>
<div class="field-group">
    <label for="issueAction">
        $i18n.getText("jira-action-reminders.option.action.label"):
    </label>
    <input type="text" id="issueAction" name="issueAction" class="text" placeholder="Your Action Name" value="$!issueAction" />
    <div class="description">$i18n.getText("jira-action-reminders.option.action.description")</div>
</div>
<div class="field-group">
    <label for="runAuthor">
        $i18n.getText("jira-action-reminders.option.author.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="runAuthor" name="runAuthor" class="text" placeholder="Your Run Author User ID" value="$!runAuthor" />
    <a href="javascript:openUserPickerWindow('runAuthor');">
         <img title="Ente the user name" name="multiuserImage" src="$!requestContext.canonicalBaseUrl/images/icons/filter_public.gif" hspace="0" height="16" width="16" border="0" align="absmiddle" >
    </a>
    <div class="description">$i18n.getText("jira-action-reminders.option.author.description")</div>
</div>
<div class="field-group">
    <label for="cronSchedule">
        $i18n.getText("jira-action-reminders.option.cronSchedule.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input id="cronSchedule" name="cronSchedule" class="text" placeholder="Your Cron Schedule" value="$!cronSchedule" />        
    <a class="adsk_actionreminders_help" target="_blank" title="Cron Schedule Examples" 
        href="https://git.autodesk.com/EngOps/adsk-jira-action-reminders-plugin/wiki/Cron-Schedule-Example"></a>
</div>
<fieldset class="group">
    <legend><span>Reminders:</span></legend>
    <p>    
    <select id="notifyAssignee" name="notifyAssignee" class="text">   
        #foreach ($option in ["FALSE", "TRUE"])
            <option value="$option.toLowerCase()"
            #if ($option.toLowerCase() == "$!notifyAssignee")selected#end
            >$option</option>
        #end
    </select>
    <label for="notifyAssignee">Notify Assignee</label>
    </p>
    <p>    
    <select id="notifyReporter" name="notifyReporter" class="text">   
        #foreach ($option in ["FALSE", "TRUE"])
            <option value="$option.toLowerCase()"
            #if ($option.toLowerCase() == "$!notifyReporter")selected#end
            >$option</option>
        #end
    </select>
    <label for="notifyReporter">Notify Reporter</label>
    </p>
    <p>    
    <select id="notifyWatchers" name="notifyWatchers" class="text">   
        #foreach ($option in ["FALSE", "TRUE"])
            <option value="$option.toLowerCase()"
            #if ($option.toLowerCase() == "$!notifyWatchers")selected#end
            >$option</option>
        #end
    </select>
    <label for="notifyWatchers">Notify Watchers</label>
    </p>
</fieldset>
<div class="field-group">
    <label for="notifyProjectrole">
        $i18n.getText("jira-action-reminders.option.role.label"):
    </label>    
    <select id="notifyProjectrole" name="notifyProjectrole" class="text">
        <option value="">None</option>
        #foreach ($projro in $projectRoles)
            <option value="$projro.getName()"
            #if ($projro.getName() == "$!notifyProjectrole")selected#end
            >$projro.getName()</option>
        #end
    </select>
</div>
<div class="field-group">
    <label for="notifyGroup">
        $i18n.getText("jira-action-reminders.option.group.label"):
    </label>
    <select id="notifyGroup" name="notifyGroup" class="text">
        <option value="">None</option>
        #foreach ($groupName in $groupNames)
            <option value="$groupName"
            #if ($groupName == "$!notifyGroup")selected#end
            >$groupName</option>
        #end
    </select>
</div>
<div class="field-group">
    <label for="message">
        $i18n.getText("jira-action-reminders.option.message.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <textarea id="message" name="message" class="textfield" rows="2" cols="60" placeholder="Your Issue Comment or E-mail body here.">$!message</textarea>
</div>
<div class="field-group">
    <label for="active">
        $i18n.getText("jira-action-reminders.option.active.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="active" name="active" class="text">   
        #foreach ($option in ["FALSE", "TRUE"])
            <option value="$option.toLowerCase()"
            #if ($option.toLowerCase() == "$!active")selected#end
            >$option</option>
        #end
    </select>
    <div class="description">$i18n.getText("jira-action-reminders.option.active.description")</div>
</div>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="SAVE" />
</div>
</form>
</div>

<!-- Run form with Mapping ID -->
<div id="ActionRemindersRun" style="display: none">
<form id="ActionRemindersRunForm" class="aui" method="post" action="AdskActionRemindersConfigure.jspa?configId=$configId" >
<input type="hidden" id="configId" name="configId" class="text" value="0" />
<div class="field-group">
    <label for="configIds">
        $i18n.getText("jira-action-reminders.option.config_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="configIds" name="configIds" class="text" disabled=""/>
</div>
<fieldset class="group">
    <legend><span>Options:</span></legend>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="reminders" id="reminders" value="true" checked/>
        <label for="emailReminder">Reminders</label>
    </div>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="actions" id="actions" value="true" />
        <label for="issueActions">Actions</label>
    </div>    
</fieldset>
<div class="aui-buttons">
    <input class="aui-button aui-button-primary" type="submit" name="submitted" value="RUN" />
</div>
</form>
</div>


<!-- config status -->
#if( $!status )
    <p class="aui-message">$!status</p>
#end

</body>
</html>
