<html>
    <head>
        <title>test</title>
        $webResourceManager.requireResource("com.adsk.jira.actionreminders.plugin:jira-action-reminders-plugin-resources")
        <meta name="decorator" content="atl.admin" />
        <meta name="admin.active.section" content="atl.jira.proj.config">
        <meta name="admin.active.tab" content="jira-actionreminders-project-configure-link"/>
        <meta name="projectKey" content="$textutils.htmlEncode($action.projectKey)"/>
        <meta name="projectId" content="$textutils.htmlEncode($action.projectId)"/>
    </head>
    <body>
        <h1>Key: $projectKey</h1>
        <h1>Id: $projectId</h1>
    </body>
</html>
