#disable_html_escaping()
<html>
<head>
    <title>$i18n.getText("jira-action-reminders.option.label")</title>
    $webResourceManager.requireResource("com.adsk.jira.actionreminders.plugin.jira-action-reminders-plugin:jira-action-reminders-plugin-resources")
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.tab" content="jira-actionreminders-project-configure-link"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()" />    
    <meta name="project" content="$textutils.htmlEncode($action.project)"/>    
    <script>
        AJS.$(document).ready(function(){
            var show = true;
            AJS.$("#ActionRemindersAddButton").click(function(){
                if ( show == true) {
                    AJS.$("#ActionRemindersAddEditForm").trigger("reset");
                    AJS.$("#ActionRemindersAddEdit").stop().slideDown();
                    AJS.$("#ActionRemindersDel").stop().slideUp();
                    AJS.$("#ActionRemindersRun").stop().slideUp();
                    show = false;
                }else if ( show == false ) {
                    $("#ActionRemindersAddEdit").stop().slideUp();
                    show = true;
                }
            });

            AJS.$("#ActionRemindersRefreshButton").click(function(){
                /*AJS.$("#ActionRemindersAddEditForm").trigger("reset");
                AJS.$("#ActionRemindersDelFrom").trigger("reset");
                AJS.$("#ActionRemindersRunFrom").trigger("reset");
                #set( $status = "" )*/
                window.open("/secure/ActionRemindersProjectConfig.jspa?project=$project","_self");
            });
        });

        function prepareEdit(mapId, project, query, issueAction, runAuthor, lastRun, execCount, 
            notifyAssignee, notifyReporter, notifyWatchers, role, group, message, active) {
            //alert(notifyAssignee +","+ notifyReporter+","+ notifyWatchers);
            AJS.$("#ActionRemindersAddEdit").stop().slideDown();
            AJS.$("#ActionRemindersDel").stop().slideUp();
            AJS.$("#ActionRemindersRun").stop().slideUp();
            
            AJS.$("#ActionRemindersAddEditForm input[name='mapId']").val(mapId);
            AJS.$("#ActionRemindersAddEditForm select[name='project']").val(project);
            AJS.$("#ActionRemindersAddEditForm textarea[name='query']").val(query);
            AJS.$("#ActionRemindersAddEditForm input[name='issueAction']").val(issueAction);
            AJS.$("#ActionRemindersAddEditForm input[name='runAuthor']").val(runAuthor);
            AJS.$("#ActionRemindersAddEditForm input[name='lastRun']").val(lastRun);
            AJS.$("#ActionRemindersAddEditForm select[name='execCount']").val(execCount);
            AJS.$("#ActionRemindersAddEditForm input[name='notifyAssignee']").prop('checked', (notifyAssignee == 'true'));
            AJS.$("#ActionRemindersAddEditForm input[name='notifyReporter']").prop('checked', (notifyReporter == 'true'));
            AJS.$("#ActionRemindersAddEditForm input[name='notifyWatchers']").prop('checked', (notifyWatchers == 'true'));
            AJS.$("#ActionRemindersAddEditForm input[name='notifyProjectrole']").val(role);
            AJS.$("#ActionRemindersAddEditForm input[name='notifyGroup']").val(group);
            AJS.$("#ActionRemindersAddEditForm textarea[name='message']").val(message);
            AJS.$("#ActionRemindersAddEditForm select[name='active']").val(active);
            AJS.$("#ActionRemindersAddEditForm input[name='submitted']").val("SAVE");
            location.hash = "#ActionRemindersAddEdit";
        }
        
        function prepareAdd() {
            AJS.$("#ActionRemindersAddEditForm").trigger("reset");
            AJS.$("#ActionRemindersAddEdit").stop().slideDown();
            AJS.$("#ActionRemindersDel").stop().slideUp(); 
            AJS.$("#ActionRemindersRun").stop().slideUp();
        }

        function prepareDelete(mapId) {
            AJS.$("#ActionRemindersDel").stop().slideDown();
            AJS.$("#ActionRemindersAddEdit").stop().slideUp();
            AJS.$("#ActionRemindersRun").stop().slideUp();            
            
            AJS.$("#ActionRemindersDelForm input[name='mapId']").val(mapId);
            location.hash = "#ActionRemindersDel";
        }

        function prepareRun(mapId) {
            AJS.$("#ActionRemindersRun").stop().slideDown();
            AJS.$("#ActionRemindersAddEdit").stop().slideUp();
            AJS.$("#ActionRemindersDel").stop().slideUp();            
            
            AJS.$("#ActionRemindersRunForm input[name='mapId']").val(mapId);
            location.hash = "#ActionRemindersRun";
        }

        function openUserPickerWindow(element){
            var vWinUsers = window.open('$!requestContext.canonicalBaseUrl/secure/popups/UserPickerBrowser.jspa?formName=jiraform&multiSelect=false&element=' + element, 'UserPicker', 'status=yes,resizable=yes,top=100,left=200,width=580,height=750,scrollbars=yes');
            vWinUsers.opener = self;
            vWinUsers.focus();    
         }
    </script>
</head>
<body>

<a href="#" id="ActionRemindersAddButton" title="Add Action Reminder"></a>  <a href="#" id="ActionRemindersRefreshButton" title="Refresh or reload Action Reminders"></a>

<h2>$i18n.getText("jira-action-reminders.option.label")#if($projectName) | $projectName#end</h2>


<!-- Add or Edit Form -->

<div id="ActionRemindersAddEdit" style="display: none">
<form id="ActionRemindersAddEditForm" class="aui" method="post" action="ActionRemindersProjectConfig.jspa?project=$project" >
<input type="hidden" id="mapId" name="mapId" class="text" value="0" />
<input type="hidden" id="project" name="project" class="text" value="$!project" />
<!--<div class="field-group">
    <label for="project">
        $i18n.getText("jira-action-reminders.option.project.label"):
        <span class="aui-icon icon-required"></span>
    </label>-->
    <!--<input type="text" id="project" name="project" class="text" placeholder="Your Project ID" />-->
    <!--<select id="project" name="project" class="select long-field" placeholder="Choose Project">
    <option value="0">None</option>
    #if (!$projects.empty)
    #foreach($pr in $projects)
        <option value="$pr.id"
            #if ($pr.id == $project)selected#end
        >$pr.name ($pr.key)</option>
    #end
    #end
    </select>
</div>-->
<div class="field-group">
    <label for="query">
        $i18n.getText("jira-action-reminders.option.query.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <textarea id="query" name="query" class="textfield" rows="2" cols="60" 
        placeholder="Your JQL Query here $i18n.getText('jira-action-reminders.option.query.description')"></textarea>
</div>
<div class="field-group">
    <label for="issueAction">
        $i18n.getText("jira-action-reminders.option.action.label"):
    </label>
    <input type="text" id="issueAction" name="issueAction" class="text" placeholder="Your Action Name" />
    <div class="description">$i18n.getText("jira-action-reminders.option.action.description")</div>
</div>
<div class="field-group">
    <label for="runAuthor">
        $i18n.getText("jira-action-reminders.option.author.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="runAuthor" name="runAuthor" class="text" placeholder="Your Run Author User ID" value="$!runAuthor" />
    <a href="javascript:openUserPickerWindow('runAuthor');">
         <img title="Ente the user name" name="multiuserImage" src="$!requestContext.canonicalBaseUrl/images/icons/filter_public.gif" hspace="0" height="16" width="16" border="0" align="absmiddle" >
    </a>
</div>
<div class="field-group">
    <label for="execCount">
        $i18n.getText("jira-action-reminders.option.execcount.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="execCount" name="execCount" class="select" placeholder="No of executions a day">
        <option value="1">Once a day</option>
        <option value="0">Any times</option>
    </select>
</div>
<fieldset class="group">
    <legend><span>Reminders:</span></legend>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="notifyAssignee" id="notifyAssignee" value="true" />
        <label for="notifyAssignee">Notify Assignee</label>
    </div>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="notifyReporter" id="notifyReporter" value="true" />
        <label for="notifyReporter">Notify Reporter</label>
    </div>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="notifyWatchers" id="notifyWatchers" value="true" />
        <label for="notifyWatchers">Notify Watchers</label>
    </div>
</fieldset>
<div class="field-group">
    <label for="notifyProjectrole">
        $i18n.getText("jira-action-reminders.option.role.label"):
    </label>
    <input type="text" id="notifyProjectrole" name="notifyProjectrole" class="text" placeholder="Your Project Role to Notify" />
</div>
<div class="field-group">
    <label for="notifyGroup">
        $i18n.getText("jira-action-reminders.option.group.label"):
    </label>
    <input type="text" id="notifyGroup" name="notifyGroup" class="text long-field" placeholder="Your Group name to Notify" />
</div>
<div class="field-group">
    <label for="message">
        $i18n.getText("jira-action-reminders.option.message.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <textarea id="message" name="message" class="textfield" rows="2" cols="60" placeholder="Your Comment here"></textarea>
</div>
<div class="field-group">
    <label for="active">
        $i18n.getText("jira-action-reminders.option.active.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <select id="active" name="active" class="text">
        <option value="true">TRUE</option>
        <option value="false">FALSE</option>        
    </select>
    <div class="description">$i18n.getText("jira-action-reminders.option.active.description")</div>
</div>
<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="ADD" />
</div>
</form>
</div>


<!-- Delete form with Mapping ID -->
<div id="ActionRemindersDel" style="display: none">
<form id="ActionRemindersDelForm" class="aui" method="post" action="ActionRemindersProjectConfig.jspa?project=$project" >
<div class="field-group">
    <label for="mapId">
        $i18n.getText("jira-action-reminders.option.map_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="mapId" name="mapId" class="text" />
</div>
<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="DELETE" />
</div>
</form>
</div>

<!-- Run form with Mapping ID -->
<div id="ActionRemindersRun" style="display: none">
<form id="ActionRemindersRunForm" class="aui" method="post" action="ActionRemindersProjectConfig.jspa?project=$project" >
<div class="field-group">
    <label for="mapId">
        $i18n.getText("jira-action-reminders.option.map_id.label"):
        <span class="aui-icon icon-required"></span>
    </label>
    <input type="text" id="mapId" name="mapId" class="text" />
</div>
<fieldset class="group">
    <legend><span>Options:</span></legend>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="reminders" id="reminders" value="true" checked/>
        <label for="emailReminder">Reminders</label>
    </div>
    <div class="checkbox">
        <input class="checkbox" type="checkbox" name="actions" id="actions" value="true" />
        <label for="issueActions">Actions</label>
    </div>    
</fieldset>
<div class="aui-buttons">
    <input class="aui-button" type="submit" name="submitted" value="RUN" />
</div>
</form>
</div>


<!-- config status -->
<p id="ActionRemindersStatus" style="background-color:#E0FFFF;">$!status</p>


<br/>

<!-- config display -->

<div id="ActionRemindersDisplay">
<table class="aui">
    <tr><th>Map ID</th><th>Project</th><th>JQL Query</th><th>Action</th><th>Author</th><th>Last Run</th><th>Exec</th><th>Active?</th><th></th></tr>
    #foreach ($entry in $mapsList)
        <tr><td>$entry.mapId</td><td>$entry.project</td><td>$entry.query</td><td>$entry.issueAction</td>
            <td>$entry.runAuthor</td><td>$entry.lastRun</td><td>$entry.execCount</td><td>$entry.active</td>
            <td>
            <button class="aui-button" onClick="prepareEdit('$entry.mapId', '$entry.project', '$textutils.htmlEncode($entry.query)', '$entry.issueAction', 
            '$entry.runAuthor', '$entry.lastRun', '$entry.execCount', '$entry.notifyAssignee', '$entry.notifyReporter', 
            '$entry.notifyWatchers', '$entry.notifyProjectrole', '$entry.notifyGroup', '$textutils.htmlEncode($entry.message)', '$entry.active')">Edit</button>
            <button class="aui-button" onClick="prepareDelete('$entry.mapId')">Del</button>
            <button class="aui-button" onClick="prepareRun('$entry.mapId')">Run</button>
            </td>
        </tr>
    #end
</table>
</div>

</body>
</html>
