<html>
    <head>
        <title>test</title>
        $webResourceManager.requireResource("com.adsk.jira.actionreminders.plugin:jira-action-reminders-plugin-resources")
        <meta name="decorator" content="atl.admin" />
        <meta name="admin.active.section" content="atl.jira.proj.config">
        <meta name="admin.active.tab" content="jira-actionreminders-project-configure-link"/>
        <meta name="project" content="$textutils.htmlEncode($action.project)"/>
    </head>
    <body>
        <h1>Hello PID: $project</h1>
    </body>
</html>
